<div>Text sent from the main scene:</div>
<div id="text-from-main-scene"></div>
<div class="palm-group">
<div class="palm-group-title" x-mojo-loc=''>Enter text</div>
	<div class="palm-list">
   		<div class="palm-row single">
			<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
				<div class="title">
      				<div id="secondSceneTextField" x-mojo-element="TextField" ></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div x-mojo-element="Button" id="pop_button"></div>
